@import "tailwindcss";
@import "@edtech/ui/styles.css";

@source "../../../packages/ui/components";

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
